@font-face {
  font-family: 'default_font';
  src: url('../public/fonts/wheaton-capitals.otf');
}

body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  font-family: default_font, sans-serif;
}

.loadConfigScene {
  position: absolute;
  background-color: black;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  p {
    color: white;
    font-size: 5vw;
    font-weight: bold;
  }
}

.sponsorImage {
  width: 100%;
  height: 11vh;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border: 12px solid black;
  box-sizing: border-box;
}
